@using Utiles
@model TallerAplicaciones.Models.ListAtributoModel

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <colgroup width="130"></colgroup>
    <colgroup width="170"></colgroup>
    <colgroup width="140"></colgroup> 
    <colgroup ></colgroup>
    <tr>
        <th>
            @Html.Label("Atributo")
        </th>
        <th>
            @Html.Label("Tipos")
        </th>
        <th>
            @Html.Label("Activo")
        </th>
        <th>
            @Html.Label("Aciones")
        </th>
    </tr>
    
    @{ var formatter = new HtmlFormatterAtributo(); }

    @foreach (var atributo in Model.Atributos)
    {
        <tr>
            <td>
                @Html.Label(atributo.Nombre)
            </td>
            <td>@{
                    atributo.Accept(formatter);
                    Output.Write(formatter.Html);
                }
            </td>
        
            <td>
                @Html.CheckBox(atributo.Nombre, atributo.Activo, new { @disabled = "disabled" })
            </td>
            <td>
                @Html.ActionLink("Modificar", "Edit", "Atributo" ,new { idAtributo = @atributo.AtributoID }, null)
            </td>
        </tr>
    }

</table>
