@model TallerAplicaciones.Models.ListAtributoModel

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <colgroup width="150"></colgroup>
    <colgroup width="150"></colgroup> 
    <colgroup ></colgroup>
    <tr>
        <th>
            @Html.Label("Atributo")
        </th>
        <th>
            @Html.Label("Activo")
        </th>
        <th>
            @Html.Label("Aciones")
        </th>
    </tr>

    @foreach (var item in Model.Atributos)
    {
        <tr>
            <td>
                @Html.Label(item.Nombre)
            </td>
        
            <td>
                @Html.CheckBox(item.Nombre, item.Activo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
