@using Microsoft.Ajax.Utilities
@using uy.edu.ort.taller.aplicaciones.dominio
@using uy.edu.ort.taller.aplicaciones.utiles.Formatters
@model TallerAplicaciones.Models.PedidoListModel
@{
    ViewBag.Title = "Lista de Pedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Lista de Pedidos</h2>
<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table>
    <tr>
        <th>
            ID
        </th>
        <th>
            Fecha
        </th>
        <th>
            Descripcion
        </th>
          <th>
            Aprobado
        </th>
        <th>
            Activo
        </th>
        <th>
            Ejecutivo
        </th>
        <th>
            Cliente
        </th>
        <th>
            Acciones
        </th>
    </tr>
   
    @foreach (var item in Model.Pedidos)
    {
        <tr>
            <td>@item.PedidoID
            </td>
            <td>@item.Fecha.ToString("dd/MM/yyyy")
            </td>
            <td>@item.Descripcion
            </td>
             <td>@(item.Aprobado ? "Si" : "No")
            </td>
            <td>@(item.Activo ? "Si" : "No")
            </td>
             <td>@(item.Ejecutivo.Usuario.Login + " - " + item.Ejecutivo.Nombre)
            </td>
            <td>@(item.Distribuidor.Usuario.Login + " - " + item.Distribuidor.Empresa.Nombre)
            </td>
            
            <td>
                @Html.ActionLink("Modificar", "Edit", "Pedido", new { idPedido = @item.PedidoID }, null)
                | 
                @Html.ActionLink("Detalle", "Detalle", "Pedido", new { idPedido = @item.PedidoID }, null)
                |
                @Html.ActionLink("Eliminar", "Delete", "Pedido", new { idPedido = @item.PedidoID }, null)
            </td>
        </tr>
    }
</table>




@section Scripts {
    <script>



    </script>
    @Scripts.Render("~/bundles/jqueryval")
}


