@model TallerAplicaciones.Models.UsuarioListModel

@{
    ViewBag.Title = "Lista de Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Usuarios</h2>

<table id="tablaPerfilesUsuario">
    <thead>
        <tr>
            <th>Login</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Activo</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.PerfilesDeUsuario)
    {
        <tr>
            <td>@item.Usuario.Login</td>
            <td>@item.Nombre</td>
            <td>@item.Apellido</td>
            <td>@item.Email</td>
            <td>@(item.Activo ? "Si" : "No")</td>
            <td>@(item.GetRol()==0?"Admin":item.GetRol()==1?"Ejec":"Dist")</td>
            <td>@Html.ActionLink("Modificar", "Modify", "Account", new { idPerfilUsuario = @item.PerfilUsuarioID }, null)
                | @Html.ActionLink("Cambiar Password", "ChangePassword", "Account", new { login = @item.Usuario.Login }, null)
            </td>
        </tr>
    }   
    </tbody>
</table>

<div>
    <a href="javascript:history.go(-1)">Atrás</a>
  
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
