@model TallerAplicaciones.Models.UsuarioListModel

@{
    ViewBag.Title = "Lista de Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Usuarios</h2>

<table id="tablaPerfilesUsuario">
    <thead>
        <tr>
            <th>Login</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Activo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    
    <tbody>
     @foreach (var item in Model.PerfilesDeUsuario)
    {
        <tr>
            <td>@item.Usuario.Login</td>
            <td>@item.Nombre</td>
            <td>@item.Apellido</td>
            <td>@item.Email</td>
            <td>@item.Activo</td>
            <td>@Html.ActionLink("Eliminar", "Delete", "Account", new { idPerfilUsuario = @item.PerfilUsuarioID }, null)</td>
        </tr>
    }   
    </tbody>

</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
