@model TallerAplicaciones.Models.ModificarUsuarioModel
@{
    ViewBag.Title = "Modificar datos personales";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Datos</legend>
        <ol>
            <li>
                @Html.HiddenFor(m => m.PerfilUsuarioID)
            </li>
            <li>
                @Html.HiddenFor(m => m.Rol)
            </li>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new { @readonly="readonly" })
            </li>
            <li>
                @Html.LabelFor(m => m.Nombre)
                @Html.TextBoxFor(m => m.Nombre)
            </li>
            <li>
                @Html.LabelFor(m => m.Apellido)
                @Html.TextBoxFor(m => m.Apellido)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.Activo)
                @Html.CheckBoxFor(m => m.Activo)
            </li>
        </ol>
        <input type="submit" value="Actualizar datos" />
    </fieldset>
}
<div>
    @Html.ActionLink("Volver", "List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
