@{
    ViewBag.Title = "Crear Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model TallerAplicaciones.Models.ProductoConArchivosSubmitModel
<h2>
    Crear Producto</h2>
@using (Html.BeginForm("Create", "Producto", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Alta Producto</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Codigo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Codigo)
            @Html.ValidationMessageFor(model => model.Codigo)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Descripcion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descripcion)
            @Html.ValidationMessageFor(model => model.Descripcion)
        </div>
        <div class="editor-field Fotos">
            <div>
                <label for="fotos">Fotos:</label>
                @Html.TextBoxFor(model => model.Fotos, new { type = "file" })
                &nbsp;<a href="javascript:void(0)" onclick="addNew('Fotos')">[+]</a>
                 @Html.ValidationMessageFor(model => model.Fotos)
            </div>
        </div>
        <div class="editor-field Videos">
            <div>
                <label for="Videos">Videos:</label>
                @Html.TextBoxFor(model => model.Videos, new { type = "file" })
                &nbsp;<a href="javascript:void(0)" onclick="addNew('Videos')">[+]</a>
                @Html.ValidationMessageFor(model => model.Videos)
            </div>
        </div>
        <div>
            <select name="year">
                @foreach (var atributo in Model.ListaDeAtributos)
                {
                    <option>@(atributo)</option>
                }
            </select>
        </div>
       
        
        

        <p>
            <input type="submit" value="Crear Producto" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to Index", "Index")
</div>
@section Scripts {
    <script>
        function addNew(name) {

            var accept = (name == "Fotos") ? ".jpg" : ".wmv";

            $("." + name).append($('<div><input type="file" value="" name="' + name + '" />' +
                '<a href="javascript:void(0)" onclick="$(this).parent().remove()">[x]</a>' +
                '</div>'));
        }
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
