@{
    ViewBag.Title = "Crear Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model TallerAplicaciones.Models.ProductoConArchivosSubmitModel

<h2>Crear Producto</h2>

@using (Html.BeginForm("Create", "Producto", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Alta Producto</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Codigo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Codigo)
            @Html.ValidationMessageFor(model => model.Codigo)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Descripcion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descripcion)
            @Html.ValidationMessageFor(model => model.Descripcion)
        </div>
        <div class="editor-field Fotos">
            <div>
                <label for="fotos">
                    Fotos:</label>
                @Html.TextBoxFor(model => model.Fotos, new { type = "file" })
                &nbsp;<a href="javascript:void(0)" onclick="addNew('Fotos')">[+]</a>
                @Html.ValidationMessageFor(model => model.Fotos)
            </div>
        </div>
        <div class="editor-field Videos">
            <div>
                <label for="Videos">
                    Videos:</label>
                @Html.TextBoxFor(model => model.Videos, new { type = "file" })
                &nbsp;<a href="javascript:void(0)" onclick="addNew('Videos')">[+]</a>
                @Html.ValidationMessageFor(model => model.Videos)
            </div>
        </div>
        <hr />
        <div class="editor-label">
            @Html.Label("Atributos")
        </div>
        <div class="editor-field">
            <select id="tipoAtributo" >
                @foreach (var atributo in Model.ListaDeAtributos)
                {
                    <option value = "@atributo.AtributoID" >@(atributo.Nombre)</option>
                }
            </select>
            <input class="editor" type="button" value="Agregar Valores" onclick="obtenerValoresAtributo()" />
        </div>
        <div id="idValorAtributo">
        </div>
        <p>
            <input type="submit" value="Crear Producto" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Volver", "Index")
</div>
@section Scripts {
    <script>
        function addNew(name) {
            $("." + name).append($('<div><input type="file" value="" name="' + name + '" />' +
                '<a href="javascript:void(0)" onclick="$(this).parent().remove()">[x]</a>' +
                '</div>'));
        }

        function obtenerValoresAtributo() {
            var idAtributo = $("#tipoAtributo").val();

            var data = {
                valorIdAtributo: idAtributo,
            };
            if (!checkExiste(idAtributo)) {
                $.post("../Atributo/ObtenerValoresAtributos", data, function(response) {
                    if (response.Ok) {
                        if (response.esCombo == false) {
                            printHTMLAtributoSimple(response);
                        } else {
                            if (response.esMultiselec == true) {
                                printHTMLAtributoMultiselecion(response);
                            } else {
                                printHTMLAtributoCombo(response);
                            }
                        }
                    } else {
                        alert(response.Message);
                    }
                }, "json");
            } else {
                alert("El atributo ya esta para agregarse");
            }
        }

        function checkExiste(idAtributo) {
            return $("#idValorAtributo").find("div[idAtributo=" + idAtributo + "]").length > 0;

        }

        function printHTMLAtributoSimple(response) {
          var  httpSimple = '<div idAtributo="' + response.idAtributo + '">' +
                '<p>' +
                '<table>' +
                '<tr>' +
                '<td><label >' + response.nombreAtributo + ': </label></td>' +
                '<td><input type="text" value="" name="ValorAtributoSimple" />' +
                '<input  type="hidden" value="' + response.idAtributo + '" name="IdAtributoSimple"/></td>' +

                "<td><input type='button' onclick='$(this).closest(\"div\").remove()' value='remover'></td>"+
                '</tr>' +
                '</table>' +
             //   ' <a href="javascript:void(0)" onclick="$(this).parent().remove()">[x]</a>' +
                '</p>' +
                '</div>';
            $("#idValorAtributo").append(httpSimple);
        }
      
        function printHTMLAtributoCombo(response) {

          var  htmlMulti = "<div idAtributo='" + response.idAtributo + "'>" +
                "<p>" +
                "<table>" +
                "<tr>" +
                "<td><label >" + response.nombreAtributo + ": </label></td>" +
                "<td><select name=\"ValorAtributoCombo\">";

            for (var i = 0; i < response.litaValores.length; i++) {
                htmlMulti += "<option "+(i==0? "selected='selected'" :"")+" value=\"" + response.idAtributo + "|" + response.litaValores[i].id + "\"> " 
                        + response.litaValores[i].valor + " </option> ";
            }
            htmlMulti += "</select>" +
                "</td>" +
                "<td><input type='button' onclick='$(this).closest(\"div\").remove()' value='remover'></td>"+
                "</tr>" +
                "</table>" +
//                "<a href=\"javascript:void(0)\" onclick=\"$(this).parent().remove()\">[x]</a>" +
                "</p>" +
                "</div>";
            $("#idValorAtributo")   .append(htmlMulti);
        }

        function printHTMLAtributoMultiselecion(response) {

           var htmlMulti = "<div idAtributo='" + response.idAtributo + "'>" +
                "<p>" +
                "<table>" +
                "<tr>" +
                "<td><label >" + response.nombreAtributo + ": </label></td>" +
                "<td><select multiple name=\"ValorAtributoMulti\">;";

            for (var i = 0; i < response.litaValores.length; i++) {
                htmlMulti += "<option  "+(i==0? "selected='selected'" :"")+"  value=\"" + response.idAtributo + "|" + response.litaValores[i].id + "\"> "
                         + response.litaValores[i].valor + " </option> ";
            }
            htmlMulti += "</select>" +
                "</td>" +
                "<td><input type='button' onclick='$(this).closest(\"div\").remove()' value='remover'></td>"+
                "</tr>" +
                "</table>" +
//                "<a href=\"javascript:void(0)\" onclick=\"$(this).parent().remove()\">[x]</a>" +
                "</p>" +
                "</div>";
            $("#idValorAtributo").append(htmlMulti);

        }

    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
