@model TallerAplicaciones.Models.NuevoProductoModel
@{
    ViewBag.Title = "Crear Producto";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Crear un producto nuevo.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.ValidationSummary()

    <fieldset>
        <legend>Alta de Producto</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                <table style="border:none">
                    <tr>
                        <td>
                                @Html.LabelFor(m => m.Rol)
                                @Html.DropDownList("Rol", new List<SelectListItem>
                                {
                                    new SelectListItem{ Text = "Administrador", Value = "0" },
                                    new SelectListItem{ Text = "Ejecutivo de Cuentas", Value = "1" },
                                    new SelectListItem{ Text = "Distribuidor", Value = "2" } 
                                },new { @onchange="changeRol();" } ) 
                        </td>
                        <td>
                            <div class="notRolAdmin notRolEjec rolDist" style="display:none">
                                @Html.LabelFor(m=> m.EmpresaDelDistribuidor)
                                @if (Model.EmpresasDistribuidoras.Count() > 0)
                                {
                                    @Html.DropDownListFor(m => m.EmpresaDelDistribuidor,
                                       Model.EmpresasDistribuidoras.Select(item => new SelectListItem
                                    {
                                        Value = item.EmpresaDistribuidoraID.ToString(),
                                        Text = item.Nombre.ToString(),
                                        Selected = Model.EmpresaDelDistribuidor == item.EmpresaDistribuidoraID ? true : false
                                    }))
                                }else
                                {
                                    @("No hay empresas en el sistema.")
                                }
                        
                            </div>
                             <div class="notRolAdmin notRolDist rolEjec" style="display:none">
                                @Html.LabelFor(m=> m.EmpresasSeleccionadas)
                                @if (Model.EmpresasDistribuidoras.Count(item => item.Ejecutivo == null) > 0)
                                {
                                    @Html.ListBoxFor(m => m.EmpresasSeleccionadas,
                                            Model.EmpresasDistribuidoras.Where(item => item.Ejecutivo == null).Select(item => new SelectListItem
                                       {
                                           Value = item.EmpresaDistribuidoraID.ToString(),
                                           Text = item.Nombre.ToString(),
                                           Selected = Model.EmpresasSeleccionadas.Contains(item.EmpresaDistribuidoraID) ? true : false
                                       }))
                                }
                                else
                                {
                                      @("No hay empresas en el sistema.")
                                }
                             </div>
                        </td>

                    </tr>
                </table>
          


            </li>
            <li>
                @Html.LabelFor(m => m.Nombre)
                @Html.TextBoxFor(m => m.Nombre)
            </li>
            <li>
                @Html.LabelFor(m => m.Apellido)
                @Html.TextBoxFor(m => m.Apellido)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Register" />
    </fieldset>
}

@section Scripts {
    <script>
      
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}

