@using uy.edu.ort.taller.aplicaciones.dominio
@using uy.edu.ort.taller.aplicaciones.utiles.Formatters
@model TallerAplicaciones.Models.ProductoConArchivosSubmitModel
@{
    ViewBag.Title = "Editar Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Edit</h2>
@using (Html.BeginForm("Edit", "Producto", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Editar Producto</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Codigo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Codigo)
            @Html.ValidationMessageFor(model => model.Codigo)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Descripcion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descripcion)
            @Html.ValidationMessageFor(model => model.Descripcion)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Activo)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.Activo)
            @Html.ValidationMessageFor(model => model.Activo)
        </div>
        <div class="editor-label">
            <label for="Videos">
                Fotos:</label>
            Fotos Almacenadas (Seleccione para eliminar)
        </div>
        <div class="editor-field">
            <ul class="gallery">
                @{  var formatter = new GalleryHtmlFormatter() { CheckboxName = "DeleteFiles" };
                    if (Model.Producto.Archivos != null)
                    {
                        foreach (var item in Model.Producto.Archivos.OfType<Foto>())
                        {
                    @Html.Raw("<li>") 
                            item.Accept(formatter);
                            Output.Write(formatter.Html);
                    @Html.Raw("</li>") 
                        }
                    }
                }
            </ul>
        </div>
        <div class="editor-label">
            Subir Fotos
        </div>
        <div class="editor-field Fotos">
            <div>
                @Html.TextBoxFor(model => model.Fotos, new { type = "file" })
                &nbsp;<a href="javascript:void(0)" onclick="addNew('Fotos')">[+]</a>
                @Html.ValidationMessageFor(model => model.Fotos)
            </div>
        </div>
        <div class="editor-label">
            <label for="Videos">
                Videos:</label>
            Videos Almacenadas (Seleccione para eliminar)
        </div>
        <div class="editor-field">
            <ul class="gallery">
                @{  
                    if (Model.Producto.Archivos != null)
                    {
                        foreach (var item in Model.Producto.Archivos.OfType<Video>())
                        {
                    @Html.Raw("<li>")
                            item.Accept(formatter);
                            Output.Write(formatter.Html);
                    @Html.Raw("</li>")
                        }
                    }
                }
            </ul>
        </div>
        <div class="editor-label">
            Subir Videos
        </div>
        <div class="editor-field Videos">
            <div>
                @Html.TextBoxFor(model => model.Videos, new { type = "file" })
                &nbsp;<a href="javascript:void(0)" onclick="addNew('Videos')">[+]</a>
                @Html.ValidationMessageFor(model => model.Videos)
            </div>
        </div>
        <hr />
        <div class="editor-label">
            <label>
                Atributos Variables (Las modificaciones se almacenan en el momento de realizarlas)</label>
            <br />
            <label>
                Agregar Atributos al producto</label>
        </div>
        <div class="editor-field">
            @if (Model.ListaDeAtributos != null && Model.ListaDeAtributos.Any(a => a.Activo))
            {
                <div>
                    @Html.DropDownList("atribDisponibles",
                        Model.ListaDeAtributos.Where(p => p.Activo == true).Select(item => new SelectListItem
                        {
                            Value = item.AtributoID.ToString(),
                            Text = item.Nombre.ToString()
                        }), new { @id = "atributoSelect" })
                    <input type="button" value="Crear" onclick="renderAtributo()" />
                </div>
                <div>
                    Item a agregar:</div>
                <div id="agregarContainer">
                </div>
            }
            else
            {
                @("No hay Atributos en el sistema.")
            }
        </div>
        <div class="display-label">
            <label>
                Atributos actuales:</label>
        </div>
        <div class="display-field">
            <table id="atributosTable">
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Valores
                    </th>
                    <th>
                        Modificar?
                    </th>
                    <th>
                        Eliminar?
                    </th>
                </tr>
                @if (Model.ListaValorAtributosSimple != null)
                {
                    foreach (var item in Model.ListaValorAtributosSimple)
                    {
                    <tr class="atributo-line">
                        <td>@item.Atributo.Nombre
                        </td>
                        <td>
                            <input type="text" atributoId ="@item.Atributo.AtributoID"  class="valorSimple" id="valorSimple_@item.ValorAtributoID" value="@item.Valor"/>
                        </td>
                        <td>
                            <input type="button" onclick="modificarValorSimple(@Model.ProductoID, @item.ValorAtributoID) " value='>'/>
                        </td>
                        <td>
                            <input type="button" onclick=" removerValorAtributo($(this), @Model.ProductoID, @item.ValorAtributoID) " value="Sacar"/>
                        </td>
                    </tr>
                    }
                }
                @if (Model.ListaValorAtributosCombo != null)
                {
                    foreach (var item in Model.ListaValorAtributosCombo)
                    {

                        var multi = item.Atributo.EsMultiseleccion();
                        var javascriptModificar = "modificarValorCombo";
                        var baseType = "valorCombo";
                        var multiple = multi ? "multiple" : "";
                        var atributo = (AtributoCombo)Model.ListaDeAtributos.Single(a => a.AtributoID == item.Atributo.AtributoID);


                        if (multi)
                        {
                            baseType += "Multi";
                            javascriptModificar += "Multi";
                        }
                       
                    <tr class="atributo-line">
                        <td>@item.Atributo.Nombre
                        </td>
                        <td>
                            @if (multi)
                            {
                                @Html.ListBox("comboMulti",
                                         atributo.Valores.Select(option => new SelectListItem
                                         {
                                             Value = option.ValorPredefinidoID.ToString(),
                                             Text = option.Valor.ToString() + " (" + (option.Activo ? "A" : "I") + ")",
                                             Selected = item.Valores.Select(v => v.ValorPredefinidoID).ToList().Contains(option.ValorPredefinidoID) ? true : false
                                         }), new { @class = baseType, @id = (baseType + "_" + item.ValorAtributoID), @atributoId = item.Atributo.AtributoID })
                            }
                            else
                            {
                                @Html.DropDownList("combo",
                                         atributo.Valores.Select(option => new SelectListItem
                                         {
                                             Value = option.ValorPredefinidoID.ToString(),
                                             Text = option.Valor.ToString(),
                                             Selected = item.Valores.Select(v => v.ValorPredefinidoID).ToList().Contains(option.ValorPredefinidoID) ? true : false
                                         }), new { @class = baseType, @id = (baseType + "_" + item.ValorAtributoID), @atributoId = item.Atributo.AtributoID })
                            }
                        </td>
                        <td>
                            <input type="button" onclick="@javascriptModificar (@Model.ProductoID, @item.Atributo.AtributoID, @item.ValorAtributoID) " value='>'/>
                        </td>
                        <td>
                            <input type="button" onclick="removerValorAtributo($(this), @Model.ProductoID, @item.ValorAtributoID) " value="Sacar"/>
                        </td>
                    </tr>
                    }
                }
            </table>
        </div>
        <p>
            @Html.HiddenFor(model => model.ProductoID)
            @Html.ValidationMessageFor(model => model.ProductoID)
            <input type="submit" value="Modificar" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to list", "List")
</div>
@section Styles {
    @Styles.Render("~/Content/gallery")
}
@section Scripts {
    <script>
        function openImage(elem) {
            window.open(elem.attr("data"));
        }

        function openVideo(elem) {
            window.open(elem.attr("data"));
        }

        function addNew(name) {
            $("." + name).append($('<div><input type="file" value="" name="' + name + '" />' +
                '<a href="javascript:void(0)" onclick="$(this).parent().remove()">[x]</a>' +
                '</div>'));
        }

        function removerValorAtributo($elem, idProducto, idValorAtributo) {
            var data = {
                idProducto: idProducto,
                idValorAtributo: idValorAtributo
            };
            $.post("RemoverValorAtributo", data, function(response) {
                if (response.Ok) {
                    $elem.parent().parent().remove();
                } else {
                    $elem.notify(response.Message, "error");
                }
            }, "json");
        }

        function modificarValorSimple(idProducto, idValorAtributoSimple) {
            if ($("#valorSimple_" + idValorAtributoSimple).val().length == 0) {
                $("#valorSimple_" + idValorAtributoSimple).focus();
                $("#valorSimple_" + idValorAtributoSimple).notify("Debe ingresar un valor", "error");
                return false;
            }

            var data = {
                idValorAtributoSimple: idValorAtributoSimple,
                nuevoValor: $("#valorSimple_" + idValorAtributoSimple).val()
            };

            $.post("ModificarValorAtributoSimple", data, function(response) {
                if (response.Ok) {
                    $("#valorSimple_" + idValorAtributoSimple).val(response.NuevoValor);
                    $("#valorSimple_" + idValorAtributoSimple).notify(response.Message, "ok");
                } else {
                    $("#valorSimple_" + idValorAtributoSimple).notify(response.Message, "error");
                }
            }, "json");
        }

        function modificarValorCombo(idProducto, idValorAtributo) {
            var data = {
                idProducto: idProducto,
                idValorAtributo: idValorAtributo
            };

            $.post("ModificarValorCombo", data, function(response) {
                if (response.Ok) {
                    //TODO ver
                    //$elem.parent().parent().remove();
                } else {
                    alert(response.Message);
                }
            }, "json");
        }

        function modificarValorComboMulti(idProducto, idValorAtributo) {
            var data = {
                idProducto: idProducto,
                listaIdValorAtributo: idValorAtributo
            };

            //TODO
            //$("#comboValueMulti_" + idValorAtributo)

            $.post("ModificarValorCombo", data, function(response) {
                if (response.Ok) {
                    //TODO ver
                    //$elem.parent().parent().remove();
                } else {
                    alert(response.Message);
                }
            }, "json");
        }

        function agregarValorComboMulti($elem, idProducto, idValorAtributo) {
            var data = {
                idProducto: idProducto,
                listaIdValorAtributo: idValorAtributo
            };

            //TODO
            //$("#comboValueMulti_" + idValorAtributo)

            $.post("AgregarValorComboMulti", data, function(response) {
                if (response.Ok) {
                    //TODO ver
                    //$elem.parent().parent().remove();
                } else {
                    alert(response.Message);
                }
            }, "json");
        }

        function renderAtributo() {
            var idAtributo = $("#atributoSelect").val();

            var data = {
                valorIdAtributo: idAtributo,
            };

            $.post("../Atributo/ObtenerValoresAtributos", data, function(response) {
                if (response.Ok) {
                    if (response.esCombo == false) {
                        printHTMLAtributoSimple(response);
                    } else {
                    	printHTMLAtributoCombo(response, response.esMultiselec);
                    }
                } else {
                    alert(response.Message);
                }
            }, "json");
        }

        function printHTMLAtributoSimple(response) {
            var html = '<div class="addItem"><label>' + response.nombreAtributo + '</label>' +
                '<input placeholder="Valor" id="tempItemToAdd" idatrib="' + response.idAtributo + '" type="text" value="" />' +
                '<input type="button" value="Agregar" onclick="agregarValorAtributoSimple()"/>' +
                '</div>';
            $("#agregarContainer").html(html);
        }

        function agregarValorAtributoSimple() {
            if ($("#tempItemToAdd").val().length == 0) {
                $("#tempItemToAdd").focus();
                $("#tempItemToAdd").notify("Debe ingresar un valor", "error");
                return false;
            }
            var data = {
                idProducto: $("#ProductoID").val(),
                idAtributoSimple: $("#tempItemToAdd").attr("idatrib"),
                nuevoValor: $("#tempItemToAdd").val()
            };
            $.post("AgregarValorAtributoSimple", data, function(response) {
                if (response.Ok) {
                    renderSimple($("#atributosTable"), response);
                } else {
                    $("#atributosTable").notify(response.Message, "error");
                }
            }, "json");
        }

        function renderSimple($container, response) {
            var html = '<tr class="atributo-line">'
                + '<td>' + response.NombreAtributo + '</td>'
                + '<td>'
                + '<input type="text" value="' + response.NuevoValor + '" id="valorSimple_' + response.ValorAtributoId + '" class="valorSimple">'
                + '</td>'
                + '<td>'
                + '<input type="button" value="&gt;" onclick="modificarValorSimple(' + response.ProductoId + ',' + response.ValorAtributoId + ')">'
                + '</td>'
                + '<td>'
                + '<input type="button" value="Sacar" onclick="removerValorAtributo($(this),' + response.ProductoId + ',' + response.ValorAtributoId + ') ">'
                + '</td>'
                + '</tr>';
            $container.append(html);
        }
		

		function printHTMLAtributoCombo(response, multi) {
        var html = '<div class="addItem"><label>' + response.nombreAtributo + '</label>' +
                '<select  id="tempItemToAdd" idatrib="' + response.idAtributo + '" '+(multi? ' multiple="multiple "': '' )+'>';

        for (var i = 0; i < response.litaValores.length; i++) {
            html += "<option value=\""+ response.litaValores[i].id + "\" "+(i==0? " selected ":"")+"> " 
                    + response.litaValores[i].valor + " </option> ";
        }
            
        html+= '</select>' +
                '<input type="button" value="Agregar" onclick="agregarValorCombo('+multi+')"/>'+
                '</div>';
        $("#agregarContainer").html(html);
        $("#tempItemToAdd").data("metadata", response);
    }
    
    function agregarValorCombo(multi) {
        var $select = $("#tempItemToAdd");
        var metadata = $select.data("metadata");

        var selectedValues = "";

        if (multi) {
            selectedValues = $select.val();
        } else {
            selectedValues = new Array($select.val()); 
        }
        selectedValues = selectedValues.map(Number);//trasforma a array de int

        var idAtributo = $("#tempItemToAdd").attr("idatrib");
        var idProducto = $("#ProductoID").val();

         //llama ajax

        checkExiste($("#atributosTable"), idAtributo);
 
        var response = {
            Ok:true,
            Message:"",
            ProductoId: idProducto,
            AtributoId: idAtributo,
            ListaValorPredefinidoId: selectedValues,
            NombreAtributo: "atributo "+ idAtributo
        };
        
         renderCombo($("#atributosTable"), metadata, response);

    }
    function checkExiste($container, valorIdAtributo)
        {
           
        }
     function renderCombo($container, metadata, response) {
    
         var multiple = metadata.esMultiselec;
         var multiText = multiple ? "Multi" : "";
         var className = "valorCombo" + multiText;
         var idCombo = className + "_" + response.AtributoId;
         var nombre = "combo" + multiText;

         var html = '<tr class="atributo-line">'
             + '<td>combo multi</td>'
             + '<td>'
             + '<select atributoId="'+response.AtributoId+'" name="' + nombre + '" ' + (multiple ? "multiple" : "") + ' id="' + idCombo + '" class="' + className + '">';


         for (var i = 0; i < metadata.litaValores.length; i++) {
             var idVal = metadata.litaValores[i].id;
             var selected = $.inArray(idVal, response.ListaValorPredefinidoId) >=0  ? " selected='selected' ": "" ;

            html += "<option value=\""+ idVal + "\" "+ selected +"> " 
                            + metadata.litaValores[i].valor + " (A)</option> ";
         }
        html+= '</td>'
                + '<td>'
                + '<input type="button" value="&gt;" onclick="modificarValorComboMulti (5, 3, 7) ">'
                + '</td>'
                + '<td>'
                + '<input type="button" value="Sacar" onclick="removerValorAtributo($(this), 5, 7) ">'
                + '</td>'
                + '</tr>';
         $container.append(html);
    }

    </script>
    <script src="/Scripts/notify.min.js" type="text/javascript"></script>
    @Scripts.Render("~/bundles/jqueryval")
}
