@using Microsoft.Ajax.Utilities
@using uy.edu.ort.taller.aplicaciones.dominio
@using uy.edu.ort.taller.aplicaciones.utiles.Formatters
@model TallerAplicaciones.Models.ProductoListModel
@{
    ViewBag.Title = "Listar Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listar Productos</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Codigo
        </th>
        <th>
            Descripcion
        </th>
        <th>
            Activo
        </th>
        <th>
            Multimedia
        </th>
        <th>
            Acciones
        </th>
    </tr>
    @{ var formatter = new HtmlFormatter(); }
    @foreach (var item in Model.Productos)
    {
        <tr>
            <td>@item.Nombre
            </td>
            <td>@item.Codigo
            </td>
            <td>@item.Descripcion
            </td>
            <td>@(item.Activo ? "Si" : "No")
            </td>
            <td>@{
                    foreach (var archivo in item.Archivos)
                    {
                        archivo.Accept(formatter);
                        Output.Write(formatter.Html);
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Modificar", "Edit", "Producto", new { idProducto = @item.ProductoID }, null)
                |
                @Html.ActionLink("Eliminar", "Delete", "Producto", new { idProducto = @item.ProductoID }, null)
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Volver", "Index")
</div>

@section Scripts {
    <script>
        function openImage(elem){
                    window.open(elem.attr("data"));
      }

       function openVideo(elem){
                    window.open(elem.attr("data"));
      }

    </script>
    @Scripts.Render("~/bundles/jqueryval")
}


