@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model TallerAplicaciones.Controllers.UploadShowModel
@{
    bool isFoto = Model.Foto;
    string title = isFoto ? "Foto" : "Video";
    string extension = isFoto ? ".png" : "video/x-ms-wmv";
     
}


<h2>Upload @(title)</h2>


@using (Html.BeginForm("Upload", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
   @Html.ValidationSummary(true)

    
        <input type="text" name="puto"/>
        <label for="file">@(title):</label>
        <input type="file" name="file" id="file"  accept="@extension" />
 
        <p>
            <input type="submit" value="submit" />
        </p>

}

<div>
    @Html.ActionLink("Back to Index", "Index")
</div>

@section Scripts {
<script>    $.validator.addMethod('accept', function () { return true; });</script>
    @Scripts.Render("~/bundles/jqueryval")
}

