@{
    ViewBag.Title = "Reporte de Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model TallerAplicaciones.Models.ReporteProductosModel

<h2>Reporte de Productos</h2>
<table>
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Codigo
        </th>
        <th>
            Descripcion
        </th>
        <th>
            Activo
        </th>
        <th>
            Cantidad de Pedidos
        </th>
    </tr>
    @foreach (var item in Model.Productos)
    {
        <tr>
            <td>@item.TopProducto.Nombre
            </td>
            <td>@item.TopProducto.Codigo
            </td>
            <td>@item.TopProducto.Descripcion
            </td>
            <td>@(item.TopProducto.Activo ? "Si" : "No")
            </td>
            <td>@item.SumCantidad
            </td>
        </tr>
    }
</table>
