@model TallerAplicaciones.Models.EmpresaListModel
@{
    ViewBag.Title = "Listar Empresas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Listar Empresas</h2>
<p>
    @Html.ActionLink("Crear Nueva", "Create")
</p>
<table>
    <tr>
        <th>
            Nombre
        </th>
        <th>
            activo
        </th>
        <th>
            Accion
        </th>
    </tr>
    @foreach (var item in Model.Empresas)
    {
        <tr>
            <td>@item.Nombre
            </td>
            <td>@(item.Activo ? "Si" : "No")
            </td>
          
            <td>
                @Html.ActionLink("Modificar", "Edit", "Empresa", new { idEmpresa = @item.EmpresaDistribuidoraID }, null)
                |
                @Html.ActionLink("Eliminar", "Delete", "Empresa", new { idEmpresa = @item.EmpresaDistribuidoraID }, null)
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Volver al índice", "Index")
</div>

@section Scripts {
    <script>
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
